.engage-wrapper {
  margin: 3em 2em;
  @media only screen and (max-width: 1024px) {
    padding: 2em;
  }
}

.engage-title {
  position: relative;
  margin-bottom: 1em;
  text-align: center;
}

.engage-cards-wrapper {
  display: grid;
  grid-template-rows: auto;
  row-gap: 70px;
  column-gap: 100px;

  @media only screen and (min-width: 55em) {
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }

  @media only screen and (min-width: 84em) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
