.engage-wrapper {
  // margin: 3em 2em;
  border-bottom: solid 8px var(--black-500);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  @media only screen and (max-width: 1024px) {
    padding: 2em;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.engage-title {
  position: relative;
  margin-bottom: 1em;
  text-align: center;
}

.engage-cards-wrapper {
  padding: 2em;
  margin: 3em;
  display: grid;
  grid-template-rows: auto;
  row-gap: 70px;
  column-gap: 100px;

  @media only screen and (min-width: 55em) {
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }

  @media only screen and (min-width: 84em) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
