.events-wrapper {
  margin-top: 4em;
  padding-left: 2em;
  border-bottom: solid 8px var(--black-500);

  @media only screen and (max-width: 1024px) {
    padding-left: 1em;
    padding-bottom: 1em;
  }
}

.events-title {
  position: relative;
  margin-bottom: 1em;
}
