.organizers-wrapper {
  margin: 3em 2em;

  @media only screen and (min-width: 768px) and (max-width: 1250px) {
    min-height: 88vh;
  }

  @media only screen and (min-width: 1592px) {
    min-height: 70vh;
  }
}

.organizers-title {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
}

.organizers-cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  @media only screen and (min-width: 769px) {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }

  // @media only screen and (min-width: 925px) {
  //   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  // }
}
