/* ==========================================================================
Hero styles
========================================================================== */

.hero-body {
  padding-top: 6rem;
  padding-bottom: 6rem;

  .title {
    font-family: "Montserrat";
    color: $frost;
  }
  .subtitle {
    font-family: "Open Sans", sans-serif;
    color: $medium-grey;
  }
  .title {
    &.is-bold {
      font-weight: 700;
    }
  }
  .subtitle {
    &.is-muted {
      color: $muted-grey;
    }
    &.is-bold {
      font-weight: 700;
    }
  }
}

.hero-foot {
  img.partner-logo {
    height: 200px;
  }
  .subtitle {
    &.is-muted {
      font-family: "Open Sans", sans-serif;
      color: $muted-grey;
    }
    &.is-right {
      text-align: right;
    }
    &.is-bold {
      font-weight: 700;
    }
  }
}
