.simple-card-wrapper {
  &__border {
    border: solid 8px black;
  }
  &__short {
    text-align: center;
  }
}

.simple-card-subtitle {
  &__border {
    h3 {
      border-bottom: solid 8px black;
      padding: 0.5em;
    }
  }

  &__short {
    text-align: center;
  }
}

.simple-card-text {
  font-size: $font-size-20;
  padding: $spacing-small $spacing-medium;
}
