.about-us-wrapper {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
  border-bottom: solid 8px var(--black-500);
}

.about-us-card-wrapper {
  @extend .o-container;

  justify-content: end;
  display: grid;
  row-gap: $spacing-medium;

  @media only screen and (max-width: 1200px) {
    justify-self: center;
    padding-top: 0.5em;
  }

  @media only screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
    column-gap: $spacing-large;
  }
}
