.contact-us-wrapper {
  @extend .o-container;

  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
}

.contact-us-title {
  position: relative;
  margin-top: 0.3em;
  margin-bottom: 1.2em;
}

input,
textarea {
  border: solid 8px var(--black-500);
  padding: 0.5em;
  transition: 0.4s;
  &:focus {
    background-color: var(--yellow-300);
    border: solid 4px var(--black-500);
  }
}

.contact-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  width: 75%;

  @media only screen and (max-width: 960px) {
    grid-template-columns: auto;
    width: 100%;
    grid-gap: 20px;
  }
}

.contact-textarea {
  grid-area: 2 / 1 / span 4 / span 2;
  height: 15vh;
  @media only screen and (max-width: 960px) {
    grid-area: auto;
  }
}

.contact-button {
  width: 50%;
  @media only screen and (max-width: 1370px) {
    width: auto;
  }
}

.contact-button {
  color: #ffffff;
  background-color: var(--green-300);
  border: none;
  padding: 0.3em;
  transition: 0.4s;

  &:hover {
    background-color: var(--pink-300);
  }
}
