.landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 40rem;
  border-bottom: solid 8px black;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.landing-text {
  @extend .o-container;

  @media #{$medium-up} {
    font-size: $font-size-24;
  }
}

.landing-title {
  font-size: $font-size-48;
  color: #fff;

  @media #{$medium-up} {
    font-size: $font-size-60;
  }
}

.landing-subtitle {
  font-size: $font-size-28;
  color: var(--blue-500);
  font-weight: bold;

  @media #{$medium-up} {
    font-size: $font-size-32;
  }
}
