.organizers-wrapper {
  border-bottom: solid 8px black;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 2em 0;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.organizers-title {
  text-align: center;
  padding: .5em;
}

.organizers-cards {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;

  @media only screen and (max-width: 768px) {
    padding: 0;
    grid-template-columns: repeat(1, 370px);
  }

  @media only screen and (min-width: 769px) and (max-width: 1300px) {
    grid-template-columns: repeat(2, minmax(200px, 350px));
  }
}
